<tool id="spacy" name="Simple Tokenizer" version="0.0.3">
  <description>
    Apply a simple tokenizer to the input file.
  </description>
  <command interpreter="python3">test.py $input $output</command>
  <inputs>
      <param name="input" type="data" format="json" label="Input Document"/>
  </inputs>
  <outputs>
    <data name="output" format="json" label="Token Annotations"/>
  </outputs>
  <help>Text</help>
</tool>
